# SPDX-FileCopyrightText: 2026 lj970926
#
# SPDX-License-Identifier: MIT

set noparent
filter=-build/header_guard,-build/c++11,-build/include_subdir,-runtime/explicit,-whitespace/empty_loop_body,-whitespace/indent,-whitespace/ending_newline,-runtime/references
linelength=100
